{{ define "main" }}

<h1>{{ or .Params.name .Data.Term }}</h1>

<header>
  {{ partial "author.html" . }}
</header>

{{ with .Content }}
<section class="body">
{{ partial "anchorize-headings.html" . }}
</section>
{{ end }}

{{ with .RegularPages }}
<nav class="articles">
  <ul>
  {{ range . }}
  <li><a class="{{ .Type }}" href="{{ .Page.RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
  </ul>
</nav>
{{ end }}

{{ end }}
