<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <div class="site-window">
      <div class="site-page">
        <header>
          {{ block "header" . }}
          <span class="site-title">
            <a href="/">
              {{ or ( .Site.Param "title" ) .Site.Title }}
            </a>
          </span>
          {{ with .Site.Params.hubs }}
          {{ partial "hubs.html" . }}
          {{ end }}
          {{ end }}
        </header>
        <main class="{{ .Kind }} {{ .Type }}">
          {{ block "main" . }}

          {{ block "main-header" . }}
          <header>
            <h1>{{ or .Title .Type }}</h1>
            {{ with .Content }}
            <section class="description">
              {{ . }}
            </section>
            {{ end }}
          </header>
          {{ end }}

          {{ block "main-body" . }}
          {{ block "set-list-items" . }}
          {{ end }}
          {{ if .Scratch.Get "list-items" }}
          <nav class="{{ .Type }}">
            <ul>
              {{ range .Scratch.Get "list-items" }}
              <li>
                {{ block "list-item" . }}
                <a class="{{ .Type }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
              </li>
              {{ end }}
            </ul>
          </nav>
          {{ end }}
          {{ end }}

          {{ block "main-footer" . }}
          {{ end }}

          {{ end }}
        </main>
        <footer>
          {{ block "footer" . }}
          {{ block "copyright" . }}
          {{ partial "copyright.html" . }}
          {{ end }}
          {{ end }}
        </footer>
      </div>
    </div>
  </body>
</html>
