{{ define "main" }}
<article>
  <header>
    <h1 id="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  </header>
  <section class="body">
    {{ if eq .Type "articles" }}
    {{ partial "anchorize-headings.html" .Content }}
    {{ else }}
    {{ .Content }}
    {{ end }}
  </section>
  <footer>
    {{ with .GetTerms "authors" }}
    <section class="authors">
      {{ range . }}
      {{ partial "author.html" . }}
      {{ end }}
    </section>
    {{ end }}
  </footer>
</article>
{{ end }}
