{{ define "set-list-items" }}
{{ .Scratch.Set "list-items" .Data.Terms.ByCount }}
{{ end }}

{{ define "list-item" }}
<a class="{{ .Page.Type }}" href="{{ .Page.RelPermalink }}">{{ .Term }}</a><span>( {{ .Count }} )</span>
{{ end }}
