@import "fix";

html {
  --logo:  "Radley",         serif;
  --mono:  "IBM Plex Mono",  mono;
  --sans:  "IBM Plex Sans",  sans-serif;
  --serif: "IBM Plex Serif", serif;

  --font-size: 1.125rem;

  --indent: 2ch;

  --md:  var(--font-size);

  --xxs: calc(var(--md) / 2);
  --xs:  calc(var(--md) / 1.5);
  --sm:  calc(var(--md) / 1.25);
  --lg:  calc(var(--md) * 1.25);
  --xl:  calc(var(--md) * 1.5);
  --xxl: calc(var(--md) * 2);

  --icon-size: var(--xl);

  --fg-color: black;
  --hl-color: hsla(0, 0%, 90%, 1);
  --bg-color: white;

  --border-light:  1px dashed var(--fg-color);
  --border-medium: 1px solid  var(--fg-color);
  --border-heavy:  2px solid  var(--fg-color);
}

* {
  box-sizing: border-box;
  color: var(--fg-color);
}

body {
  font-family: var(--serif);
  font-size:   var(--md);
  background:  var(--bg-color);
  line-height: 1.45;
}

main {
  a {
    font-weight: bold;

    &:hover,
    &:focus   { border-bottom: var(--border-light); }
    &:active  { border-bottom: var(--border-heavy); }
  }

  > nav {
    li {
      * {
        margin-right: 1ch;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }


}

a.tags {
  text-transform: lowercase;
}

.site-window {
  display: flex;
  justify-content: center;
}

.site-page {
  width: calc(var(--font-size) * 36);
  flex-shrink: 1;
  padding: var(--md);
  display: grid;
  grid-gap: var(--xxl);

  hr {
    display: none;
    width: 33.333%;
    border: var(--border-medium);
  }

  blockquote, .footnotes {
    border-left: var(--border-medium);
    padding: 0 var(--indent);
  }

  > main {
    display: grid;
    grid-gap: var(--xl);
  }

  > header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: calc(var(--font-size) * 2.5);

    .hubs {
      ul {
        grid-gap: var(--xs);
        grid-template-columns: repeat(auto-fill, minmax(var(--xl), var(--xl)));
      }

      a.icon {
        height: var(--xl);
        width:  var(--xl);
      }
    }
  }
}

.author .bio, aside .tags, .footnotes, small {
  font-size: var(--sm);
}

aside {
  border: var(--border-light);
  padding: 1em var(--indent);
}

.footnotes {
  margin-top: var(--lg);
}

.portrait {
  filter: grayscale(1) contrast(1.25) brightness(1.125);
}

.site-page > header {
  a.icon {
    height: var(--xxl);
    width:  var(--xxl);
  }
}

nav {
  header {
    margin-bottom: var(--xl);
  }

}

mark {
  background-color: var(--hl-color);
}

.hubs {
  ul {
    grid-auto-flow: column;
    grid-gap: var(--xxs);
    grid-template-columns: repeat(auto-fill, minmax(var(--lg), var(--lg)));
    grid-template-rows: 1fr;
  }

  a.icon {
    height: var(--lg);
    width:  var(--lg);
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--sans);
  font-weight: normal;

  a {
    font-weight: normal;
  }
}

h1 {
  line-height: 1.125;
  font-size: var(--xxl);
}

h2, nav h1 { font-size: var(--xl); }

h3 { font-size: var(--lg); }

h4, h5, h6 { font-size: var(--font-size); }

.site-title {
  font-family: var(--logo);
  font-size: var(--xxl);
  text-transform: none;
  line-height: 1;

  a {
    font-weight: normal;
  }
}

ul, ol, dl {
  display: grid;
  grid-gap: var(--xs);
}

kbd {
  font-family: var(--mono);

  kbd {
    border: var(--border-medium);
  }

  * {
    padding: 0 0.25ch;
    margin:  0 0.25ch;

    &:first-child {
      margin-left: 0;

    }
    &:last-child {
      margin-right: 0;
    }
  }
}

table {
  border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
}

article {
  display: flex;
  flex-direction: column;

  > * {

    &:first-child {
      margin-top: 0;
    }
  }

  header {
    h1 {
      text-transform: none;
    }

    margin-top: 0;
  }

  .body {
    margin-top: var(--sm);
  }

  footer {
    margin-top: var(--xxl);
  }
}

.body {
  &, > aside {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: var(--md);
  }

  --heading-buffer: 0.5em;
  --rev-heading-buffer: calc(var(--heading-buffer) * -1);

  h1,h2,h3,h4,h5,h6 {
    padding-top: var(--heading-buffer);

    &:first-child {
      margin-top: var(--rev-heading-buffer);
    }
  }

  h1 {
    +h2, +h3, +h4, +h5, +h6 { margin-top: var(--rev-heading-buffer) }
  }

  h2 {
    +h3, +h4, +h5, +h6 { margin-top: var(--rev-heading-buffer) }
  }

  h3 {
    +h4, +h5, +h6 { margin-top: var(--rev-heading-buffer) }
  }

  h4 {
    +h5, +h6 { margin-top: var(--rev-heading-buffer) }
  }

  h5 {
    +h6 { margin-top: var(--rev-heading-buffer) }
  }

  ol, ul, dl {
    padding-left: var(--indent);
  }

  li {
    display: list-item;
    ul, ol, dl {
      margin-top: var(--xxs);
    }
  }

  > table {
    border: var(--border-medium);
    overflow-x: scroll;
    justify-self: left;

    th, td {
      padding: var(--xs);
    }

    th {
      border: var(--border-medium);
      border-width: 0px 1px 1px 0;
      font-weight: normal;
      font-style: normal;
    }

    td {
      border: var(--border-light);
      border-width: 0px 1px 1px 0;
    }
  }
}

code, pre {
  font-family: var(--mono);
}

pre, .highlight {
  border: var(--border-medium);
  overflow-x: scroll;
}

.highlight {

  code {
    display: inline-block;
    min-width: 100%;
  }

  pre {
    border: none;
    width: auto;
  }

  .hl {
    display: block;
    background-color: var(--hl-color);
  }

  .ln, .lnt {
    margin-right: 2ch;
    font-weight: normal;
  }

  .lntd:first-child pre {
    width: fit-content;
  }

  .lntd:last-child pre {
    padding-left: 0;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--font-size) var(--indent);
}

abbr {
  font-weight: normal;
  border-bottom: var(--border-light);
  text-decoration: none;
}

p {
  mark, code {
    padding: 0 0.333ch;
  }

  code {
    white-space: nowrap;
  }
}

.related {
  nav {
    ul {
      display: flex;
    }

    li {
      margin-right: 1ch;

      &:last-child {
        margin-right: none;
      }
    }
  }
}

.lntable {
  border: none;

  pre {
    border: none;
  }

  td {
    padding: 0;
    border: none;

    &:first-of-type {
      pre {
        padding-right: 0;
      }
    }
  }
}

.author {
  display: grid;
  padding: var(--md);
  grid-gap: var(--md);
  grid-template-columns: min-content max-content minmax(min-content, 1fr);
  grid-auto-rows: min-content;
  border: var(--border-light);

  grid-template-areas:
    "portrait name hubs"
    "portrait bio  bio";

  p, a {
    margin: 0;
  }

  .portrait {
    grid-area: portrait;

    align-self: center;

    height: calc(var(--font-size) * 5);
    width:  calc(var(--font-size) * 5);

    border-radius: 50%;
    overflow: hidden;

    &.missing {
      border: var(--border-light);
    }
  }

  .hubs {
    grid-area: hubs;
    justify-self: right;
  }

  .name {
    grid-area: name;
  }

  .bio {
    grid-area: bio;
    font-size: var(--sm);

    &.missing {
      border: var(--border-light);
    }
  }
}

footer .authors {
  display: grid;
  grid-gap: var(--md);
}

.taxonomy.authors {
  span.name {
    display: none;
  }

  .body {
    border: var(--border-light);
    padding: var(--md);
  }

  h1 {
    text-transform: none;
  }

}


em, strong, cite {
  font-style: inherit;
  font-weight: inherit;
}

a.icon {
  display: flex;
  height: var(--icon-size);
  width:  var(--icon-size);
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;

  img, svg {
    height: 75%;
    width: 75%;
  }

  &:hover,
  &:focus   { border: var(--border-light); }
  &:active  { border: var(--border-heavy); }
}

@media (max-width: 36rem) {
  .author {
    grid-template-columns: min-content minmax(min-content, 1fr);
    grid-row-gap: var(--xxs);

    grid-template-areas:
      "portrait name"
      "portrait hubs"
      "portrait bio";

    .hubs {
      justify-self: left;
      margin-left: calc(var(--icon-size) * -0.125);
    }

    .name, .hubs {
      align-self: end;
    }
  }
}

@media (max-width: 25rem) {
  html {
    --font-size: 1rem;
  }

  .author {
    grid-template-columns: auto;
    justify-items: center;
    grid-gap: var(--sm);

    grid-template-areas:
      "portrait"
      "name"
      "hubs"
      "bio";

    .hubs {
      justify-self: unset;
    }

    .bio {
      margin-top: 0;
    }
  }
}
