<div class="author">
  {{ partial "portrait.html" .Data.Term }}

  <span class="name">
    <a rel="author" href="{{ .Page.RelPermalink }}">{{ or .Page.Params.name .Data.Term }}</a>
  </span>

  {{ partial "hubs.html" .Page.Params.hubs }}

  <section class="bio{{ if not .Page.Params.bio }} missing{{ end }}">
    {{ .Page.Params.bio }}
  </section>
</div>
