<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ if eq .IsHome false }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>

  {{ partial "favicons.html" . }}

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ with .OutputFormats.Get "rss" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{ end }}

  {{ partial "twitter_cards.html" . }}
  {{ partial "opengraph.html" . }}

  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Radley&display=swap&{{ querify "text" .Site.Title | safeURL }}" rel="stylesheet">

  {{ $main_style := resources.Get "/css/main.scss" | toCSS }}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ $main_style.RelPermalink }}" />
</head>
