<nav class="hubs">
  <ul>
    {{ range $index, $hub := . }}
    {{ $icon := resources.Get ( printf "img/feather/icons/%s.svg" $hub.icon ) }}
    <a class="icon" title="{{ $hub.name }}" href="{{ $hub.url }}">
      {{ $icon.Content | safeHTML }}
    </a>
    {{ end }}
  </ul>
</nav>
