{{ if ( fileExists ( printf "static/img/authors/%s.jpg" . ) ) }}
<section class="portrait">
  <img src="/img/authors/{{ . }}.jpg" alt=""/>
</section>
{{ else }}
<section class="portrait missing"></section>
{{ end }}
